* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.2509803922);
}
header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: clamp(0.25rem, 2vw, 1rem);
}
header li {
  list-style-type: none;
  padding-inline: 0.75rem;
}
header li a {
  font-size: clamp(0.85rem, 2vw, 1.5rem);
  font-weight: 400;
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}
header li a:hover {
  font-weight: 700;
  color: #6371ff;
}

main {
  flex: 1;
}

main > section:not(#sobre) {
  margin: clamp(0.85rem, 2vw, 1.75rem);
}

#inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0 2rem;
}
#inicio h1 {
  font-size: clamp(1.45rem, 2.5vw, 4rem);
  font-weight: 700;
  line-height: 2.25rem;
}
#inicio h2 {
  font-size: clamp(1.45rem, 2.5vw, 4rem);
  font-weight: 700;
}
#inicio h2 strong {
  font-weight: 700;
  color: #6371ff;
}
#inicio p {
  font-size: clamp(0.75rem, 5vw, 1.25rem);
  line-height: 1.5rem;
  padding: clamp(1.25rem, 2vw, 1.75rem) 0;
}
#inicio .red {
  background-color: #ff6464;
  border: solid #fff;
  border-radius: 0.5rem;
  padding: 0.5em 2em;
  margin-inline-end: 2rem;
}
#inicio .red a {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-decoration: none;
  color: white;
}
#inicio .white {
  background-color: #fff;
  border: 2px solid #ff6464;
  border-radius: 0.5rem;
  padding: 0.5em 2em;
}
#inicio .white a {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-decoration: none;
  color: #ff6464;
}
#inicio img {
  max-width: 500px;
  width: 35%;
}

#formacoes {
  padding: 1.5rem 0;
}
#formacoes h2 {
  font-size: clamp(1.75rem, 2vw, 3.25rem);
}
#formacoes ul li {
  list-style: none;
  position: relative;
  margin-top: clamp(1.25rem, 2vw, 2rem);
}
#formacoes ul li::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  clear: both;
}
#formacoes ul h3 {
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
  margin-block-start: clamp(1.25em, 2vw, 2em);
}
#formacoes ul p {
  display: inline;
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-weight: 400;
  float: left;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5019607843);
}
#formacoes ul .time {
  float: right;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}
#formacoes ul .time time {
  font-size: clamp(0.75rem, 1vw, 1.5rem);
  color: rgba(0, 0, 0, 0.5019607843);
}

#sobre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  padding: 2em;
  background-color: rgba(255, 100, 100, 0.5019607843);
}
#sobre img {
  width: 30%;
}
#sobre div {
  max-width: 500px;
  width: 50%;
}
#sobre div h2 {
  font-size: clamp(1.75rem, 2.5vw, 3.25rem);
  color: #1c1e53;
}
#sobre div h2 + p {
  padding: 0.5em 0;
}
#sobre div p {
  font-size: clamp(0.75rem, 5vw, 1.25rem);
  color: #1c1e53;
}

#projetos {
  margin: 4rem 0;
}
#projetos h2 {
  font-size: clamp(1.75rem, 2vw, 3.25rem);
  color: #282938;
}
#projetos li {
  list-style-type: none;
  margin-block: 0.5em;
}
#projetos li h3 {
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
}
#projetos li a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #000;
  margin: 0.5em 0;
}
#projetos li a:hover {
  color: rgba(255, 100, 100, 0.5019607843);
  font-weight: 700;
}
#projetos li a:last-child {
  margin-block-end: 0.7em;
}
#projetos li p {
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 700;
  padding-block: 0.5em;
  color: rgba(0, 0, 0, 0.5019607843);
}
#projetos li p abbr {
  text-decoration: none;
}
#projetos li p strong,
#projetos li p em {
  color: rgba(0, 0, 0, 0.6);
}

#contatos {
  padding-left: 1rem;
  background-color: rgba(255, 100, 100, 0.5019607843);
}
#contatos address {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
#contatos address h2 {
  font-size: clamp(1.75rem, 2vw, 3.25rem);
  margin-block-end: 0.5em;
}
#contatos address i {
  margin-inline-end: 0.5em;
}
#contatos address a {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-block-end: 0.5em;
  color: #1c1e53;
  text-decoration: none;
  text-align: left;
}

@media (max-width: 480px) {
  body {
    scroll-snap-type: y mandatory;
  }
  header ul {
    justify-content: center;
  }
  #inicio {
    flex-direction: column;
    justify-content: space-evenly;
  }
  #inicio article h1,
  #inicio article h2,
  #inicio article p {
    text-align: center;
  }
  #inicio .red {
    margin-inline: 3.25rem;
  }
  #inicio img {
    width: 90%;
  }
  #formacoes {
    margin: 3rem 0;
  }
  #formacoes li h3 {
    margin-block-end: 0.5em;
  }
  #formacoes li p,
  #formacoes li .time {
    display: block;
    float: none;
  }
  #sobre {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5em;
  }
  #sobre div {
    width: 100%;
    padding: 0.5em;
  }
  #sobre div h2 {
    text-align: center;
  }
  #sobre img {
    display: inline-block;
    width: 50%;
    padding: 0.5em;
  }
  #projetos li p {
    text-align: justify;
  }
  #contatos {
    text-align: center;
    padding: 0;
  }
  #contatos address {
    align-items: center;
  }
}
@media (min-width: 1024px) {
  #inicio .red:hover {
    background-color: #fff;
    border: 2px solid #ff6464;
  }
  #inicio .red:hover a {
    color: #ff6464;
  }
  #inicio .white:hover {
    background-color: #ff6464;
  }
  #inicio .white:hover a {
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */